FLASK_SECRET_KEY=change-this-in-production

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=MySql.com@1
DB_NAME=porfolio

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=drabyahamal.2@gmail.com
MAIL_PASSWORD=your-ebbprflxrkiksewq
MAIL_DEFAULT_SENDER=yourgmail@gmail.com
MAIL_TO_EMAIL=drabyahamal.2@gmail.com
